*.o
*.d
*.o.d
*.ipch
gladius/.vs/slnx.sqlite
gladius/.vs/gladius/v15/Browse.VC.opendb
gladius/.vs/gladius/v15/Browse.VC.db
gladius/.vs/
gladius/build/
gladius/out/
out/
build/
gladius/.vscode/
.vscode/
gladius/src/.clangd/
gladius/tests/.clangd/

gladius/tests/compile_commands.json
gladius/src/compile_commands.json
gladius/.clangd/index/*
gladius/src/build/*
gladius/src/out/

gladius/.cache/*
/gladius/install/
*.pyc
*.user
*.cli
*.sli
gladius/out/
*.rej
*.stl
gladius/components/lib3mf/Examples/CSharp/obj/*
gladius/examples/implicit/*.gcode
*.so
gladius/src/api/GladiusLib_component/Examples/CSharp/obj/*
build/
gladius/vcpkg_installed/*
gladius/.serena/cache/
gladius/compile_commands.json
build/build_test/
vcpkg/buildtrees/
**/vcpkg_installed/
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux.deb
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/control
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/control.tar.gz
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/data.tar.gz
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/debian-binary
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/md5sums
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/gladius
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/gladiusmcp
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/imgui.ini
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/lib3mf.so.2
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/lib3mf.so.2.4.0.0
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/CDynamic/gladius_dynamic.cc
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/CDynamic/gladius_dynamic.h
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/CDynamic/gladius_types.h
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/CSharp/GladiusLib.cs
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/Cpp/gladius_abi.hpp
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/Cpp/gladius_implicit.hpp
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/Cpp/gladius_types.hpp
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/CppDynamic/gladius_abi.hpp
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/CppDynamic/gladius_dynamic.h
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/CppDynamic/gladius_dynamic.hpp
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/CppDynamic/gladius_interfaceexception.cpp
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/CppDynamic/gladius_interfaceexception.hpp
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/CppDynamic/gladius_interfaces.hpp
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/CppDynamic/gladius_interfacewrapper.cpp
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/CppDynamic/gladius_types.hpp
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/bindings/Python/GladiusLib.py
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/IconFontCppHeaders/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/IconFontCppHeaders/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/blosc/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/blosc/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/boost/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/boost/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/clipper2/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/clipper2/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/cmakerc/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/cmakerc/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/cpp-httplib/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/cpp-httplib/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/eigen3/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/eigen3/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/fmt/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/fmt/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/glad/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/glad/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/glew/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/glew/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/glfw3/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/glfw3/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/gtest/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/gtest/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/imgui/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/imgui/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/imgui-node-editor/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/imgui-node-editor/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/lib3mf/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/lib3mf/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/libcoro/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/libcoro/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/lodepng/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/lodepng/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/lz4/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/lz4/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/minizip/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/minizip/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/muparser/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/muparser/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/nanovdb/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/nanovdb/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/nlohmann-json/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/nlohmann-json/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/nlopt/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/nlopt/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/opencl/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/opencl/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/openexr/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/openexr/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/openmesh/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/openmesh/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/openvdb/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/openvdb/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/platform_folders/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/platform_folders/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/psimpl/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/psimpl/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/pugixml/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/pugixml/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/stb/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/stb/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/tbb/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/tbb/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/tinyfiledialogs/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/tinyfiledialogs/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/tracy/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/tracy/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/zlib/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/zlib/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/zstd/LICENSE
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/doc/licenses/licenses/zstd/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/examples/template.3mf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/examples/implicit/3mf-implicit.3mf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/examples/implicit/RadialRadiator.3mf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/examples/implicit/SphereInACage.3mf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/examples/implicit/keyboard/2x_tpu_attachablefoot.3mf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/examples/implicit/keyboard/2x_tpu_bottomcover.3mf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/examples/implicit/keyboard/2x_tpu_pla_jogwheel_color.3mf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/examples/implicit/keyboard/2x_wing.3mf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/examples/implicit/keyboard/2xmirrored_honeycombecase.3mf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/examples/implicit/keyboard/buzzingbeekeyboard.jpg
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/examples/volumetric/3mf-image3d.3mf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/library/lattices/gyroid.3mf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/library/primitives/basics.3mf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/library/primitives/box.3mf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/IconFontCppHeaders/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/blosc/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/boost/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/clipper2/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/cmakerc/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/cpp-httplib/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/eigen3/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/fmt/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/glad/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/glew/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/glfw3/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/gtest/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/imgui/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/imgui-node-editor/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/jsoncpp/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/lib3mf/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/libcoro/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/lodepng/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/lz4/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/minizip/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/muparser/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/nanovdb/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/nlohmann-json/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/nlopt/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/opencl/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/openexr/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/openmesh/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/openvdb/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/platform_folders/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/psimpl/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/pugixml/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/stb/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/tbb/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/tinyfiledialogs/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/tracy/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/zlib/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/licenses/zstd/url
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/misc/fonts/fa-regular-400.ttf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/misc/fonts/fa-solid-900.ttf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/misc/fonts/LICENSE.txt
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/opt/gladius/1.2.14/misc/fonts/Roboto-Medium.ttf
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/usr/bin/gladius
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/usr/share/applications/gladius.desktop
_CPack_Packages/Linux/DEB/gladius-1.2.14-Linux/usr/share/icons/hicolor/256x256/apps/gladius.png
gladius-1.2.14-Linux.deb
