*.o
*.d
*.o.d
*.ipch
gladius/.vs/slnx.sqlite
gladius/.vs/gladius/v15/Browse.VC.opendb
gladius/.vs/gladius/v15/Browse.VC.db
gladius/.vs/
gladius/build/
gladius/out/
out/
build/
gladius/.vscode/
.vscode/
gladius/src/.clangd/
gladius/tests/.clangd/

gladius/tests/compile_commands.json
gladius/src/compile_commands.json
gladius/.clangd/index/*
gladius/src/build/*
gladius/src/out/

gladius/.cache/*
/gladius/install/
*.pyc
*.user
*.cli
*.sli
gladius/out/
*.rej
*.stl
gladius/components/lib3mf/Examples/CSharp/obj/*
gladius/examples/implicit/*.gcode
*.so
gladius/src/api/GladiusLib_component/Examples/CSharp/obj/*
build/
gladius/vcpkg_installed/*
